# netbeans
nbproject/private/
build/
nbbuild/
bin/
out/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Package Files
*.class
*.war
*.ear

# Gradle generate file
.gradle/
